header {
    background-color: #d2ddef;
    overflow: hidden;
}

body {
    padding:0;
    margin:0;
    text-align: center;
    background-color: #e8f0ff;
}

h1 {
    color: rgb(2, 124, 106); 
    font-family: helvetica;
    font-size: 3.2em;
    text-align: center;
    line-height: 60%;
    text-shadow: 0 0.037em rgb(0, 191, 163);
}

h2 {
    overflow: hidden;
    color: black;
    font-family: arial;
    font-size: 0.95em;
    text-align: center;
    padding:0;
    margin:0;
} 

h3 {
    overflow: hidden;
    color: black;
    font-family: arial;
    font-size: 0.86em;
    text-align: center;
    padding:0;
    margin:0;
}

#map_canvas {
    height: 500px;
    width: 750px;        
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
